[PROD]
INPUT_PATH = /mnt/snap/data
OUTPUT_PATH = ./data/output/
INPUT_DATA_PATH = %(INPUT_PATH)s/*/*/*/*.json

[LOCAL]
INPUT_PATH = ./data
OUTPUT_PATH = ./data/output/
INPUT_DATA_PATH = %(INPUT_PATH)s/*/*/*/*.json


[S3]
STAGING_PATH = s3a://<yourbucket>/tables/

[REDSHIFT]
HOST = 
PORT = 
DATABASE = 
USERNAME = 
PASSWORD = 

[SPOTIFY]
CLIENT_ID=
CLIENT_SECRET=

[AWS]
AWS_CLIENT_ID_KEY=
AWS_CLIENT_SECRET_KEY=
